.header{
    background-color: #f9d006;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
}
.brand{
    max-width: 200px;
}

.logo-main{
    max-width: 400px;
}

/* navbar */

nav > ul {
    display: flex;
    align-items: center;
    gap: 20px;
}
nav > ul > li{
    color: #fff;
    font-size: 1.3em;
    max-width: 200px;
    text-align: center;
}
nav > ul > li > a{
    color: #fff;
    display: block;
    padding: 10px;
}


/* seção main */
main{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.equipe{
    border-radius: 40%;
}

.lado-dir p{
 max-width: 600px;
}

/* .lado-dir div{
    display: flex;
    justify-content: flex-end;
} */

/* modal - cadastro */
.esconde-modal{
    display: none !important;
}

.esconde{
    display: none !important;
}
.container-modal, .containerModalLogin{
    background-color: rgba(0, 0, 0, .85);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-modal, .conteudoModalLogin{
    background-color: #fff;
    height: 80%;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-modal h2, .conteudoModalLogin h2{
    font-size: 2em;
    color: #f9d006;
    margin: 20px;
}


.conteudo-modal form input, .conteudoModalLogin form input{
    width: 500px;
    padding: 5px;
    font-size: 1.2em;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.conteudo-modal form textarea{
    resize: none;
    width: 500px;
    padding: 5px;
    font-size: 1.2em;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin-top: 10px;
    display: block;
}
.conteudo-modal form label, .conteudoModalLogin form label{
    display: block;
    font-weight: 600;
}

.btn{
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1.2em;
}
.btn:hover{
    background-color: #fff;
    color: #000;
    transition: all 0.5s;
    border: 2px solid #000;
}

/* modal login */
.radio label, .radio input{
    display: inline;
}

.btn2{
    width: 500px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1.2em;
}

.form-login{
    max-width: 500px;
}

/* tela ADMIN */

.linha{
    display: flex;
    gap: 30px;
}

.campo{
    width: 200px;
}

/*Parte do Gui*/

.containerCourses{
    display: flex;
    justify-content: space-around;
    
}

.lightletter{
    text-align: center;
    margin: 50px;
    color: #f9d006;
    font-size: 3em;

}

.containerCourses img {
    max-width: 300px;
    padding: 10px;
    border-radius: 0%;
}

.graybox {
    height: 400px;
    width: 300px;
    text-align: center;


}

.imgformatfinance{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    display: block;
    background-image: url("/img/imgFinanceCourse.jpg");
    background-size: contain;
    margin: 0 auto;
    border: 2px solid #f9d006;
}

.imgformatenterprise{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    display: block;
    background-image: url("/img/imgEnterpriseCourse.jpg");
    background-size: contain;
    margin: 0 auto;
    border: 2px solid #f9d006;
}

.imgformatmanagement{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    display: block;
    background-image: url("/img/imgemployer.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    border: 2px solid #f9d006;
    margin-top: 10px;
}


.graybox:hover {
    box-shadow: 2px 4px 4px  rgba(0, 0 ,0, .05);
}

.marginSec{
    margin: 150px;
}

.buttons{
    background-color: #f9d006; /* Green */
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

.buttons:hover{
    background-color: transparent;
    color: #f9d006;
    border: 2px solid #f9d006;
    transition: all 0.7s;   
}